<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - RingMC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{{ url_for('index.index') }}">RingMC</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('index.index') }}">Accueil</a></li>  
        </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer class="footer">
        <p>Fait avec amour par Owen, Adam et Kayle. Projet <a href="https://github.com/TheDogHusky/RingMC" target="_blank">Open Source</a></p>
    </footer>
</body>
</html>